body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

main h1 {
    font-size: 38px;
    color: gray;
    
    &:hover {
        color: rgb(247, 9, 9);
        cursor: pointer;
        
    }
}

main h5 {
    font-size: 24px;
}

header nav ul  {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
    font-size: 20px;
    
}

header a {
    text-decoration: none;
    color: rgb(39, 39, 39);
    font-weight: bold;

    &:hover {
        color: rgb(76, 125, 231);
    }
}