body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100dvh;

   & main {
    display: flex;

    & h5{
        font-size: 18px;
        justify-content: center;
    }

    & h1{ 
        font-size: 32px;
        font-weight: 900px;
    }
   }
}